* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  


body {
    font-family: 'Roboto', sans-serif;
    background: rgb(30,172,131);
    background: linear-gradient(180deg, rgba(30,172,131,1) 15%, rgba(198,195,204,1) 15%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}




.main-container {
    height: 85%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    border: 1px solid red;
}

.side-container {
    background-color: white;
}

.chat-container {

    border: 1px solid;

}

.header-chat {
    height: 10%;
    width: 100%;
    background-color: lightgray;
    border: 1px solid;
}

.main-chat {
    height: 80%;
    width: 100%;
    background-image: url("../img/mine.jpg");
}

.control-chat {
    height: 10%;
    width: 100%;
    border: 1px solid;
    background-color: lightgray;
}

.header-side {
    height: 10%;
    width: 100%;
    background-color: lightgray;
}

.notification-side {
    background-color: lightblue;
    height: 10%;
    width: 100%;
}

.main-chat {
    height: 80%;
    width: 100%;

}

.message-in {
    width: 100%;
    height: 120px;
    text-align: right;

    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-radius: 0.5em;

    padding: 1em;
    background-color: lightgreen;

    width: 50%;

    align-self: flex-end;

}


.container-dx {
    text-align: right
}

.message-out {
    width: 100%;
    height: 120px;
    text-align: left;

    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-radius: 0.5em;

    padding: 1em;
    background-color: white;

    width: 50%;

    align-self: flex-start;
}