/* GENERALE */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body {
    font-family: 'Roboto', sans-serif;
    background: rgb(30,172,131);
    background: linear-gradient(180deg, rgba(30,172,131,1) 15%, rgba(198,195,204,1) 15%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}


.main-container {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    display: flex;
}



/* SIDE CONTAINER */



.side-container {
    background-color: white;
    width: 35%;
}


.side-container .header-side {
    height: 10%;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}




.side-container .header-side .button-box {
    display: flex;
}


.side-container .header-side .button-box i {
    color: gray;
    padding-right: 0.3em;
    padding-left: 0.3em;
}


.side-container .notification-side {
    background-color: lightblue;
    height: 10%;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
}


.side-container .chat-side .search-box {
    padding: 1em;
}


.side-container .chat-side .search-box .search-container {
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 0.5em;
}


.side-container .chat-side .search-box .search-container input {
    padding: 0.5em 0.5em;
    border: none;
    outline: none;
    flex-grow: 1;
}


.side-container .chat-list {
    flex-grow: 1;
    overflow-y: auto;
    list-style: none;
}


.side-container .chat-list .contact {
    padding: 0.5rem 1rem;
    background-color: white;
    cursor: pointer;
    display: flex;
}


.side-container .chat-list .active {
    background-color:rgba(1,1,1,0.4);
}


.side-container .chat-list .contact .text-box {
    width: 100%;
}


.side-container .chat-list .contact .text-box .name {
    font-weight: bold;
}


.side-container .chat-list .contact .text-box .text {
    color: lightgray;
    padding-top: 0.5em;
    font-size: 0.8em;
}


.side-container .notification-side {
    display: flex;
    align-items: center;
}


.side-container .notification-side .notification-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2em;
}


.side-container .notification-side .circle {
    background-color: white;
    width: 3em;
    height: 3em;
    line-height: 3em;
    border-radius: 50%;
    text-align: center;
    color: lightblue;
}



/* CHAT SIDE */



.chat-container {
    width: 65%;
    height: 100%;
}


.chat-container .header-chat {
    height: 10%;
    width: 100%;
    display: flex;
    background-color: lightgray;
}


.chat-container .control-chat {
    height: 10%;
    width: 100%;
    background-color: lightgray;
}


.chat-container .main-chat {
    height: 80%;
    width: 100%;
    padding: 2em;
    background-image: url('../img/mine.jpg');
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    overflow-y: auto;
}


.chat-container .main-chat .message {
    margin-bottom: 2em;
    padding: 1.5em;
    max-width: 60%;
    text-align: right;
    border-radius: 10px;
    position: relative;
}


.chat-container .main-chat .sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}


.chat-container .main-chat .received {
    background-color: white;
}


.chat-container .main-chat .message .date {
    position:absolute;
    right: 0;
    bottom: 0;
    font-size: 0.6em;
    padding: 0.6em;
    color: black;
}


.chat-container .user {
    display: flex;
    align-items: center;
}

.chat-container .header-chat .user .lastaccess {
    padding-top: 0.3em;
    font-size: 0.7em;
    color: gray;
}


.chat-container .control-chat {
    padding: 1em 1em;
    background-color: #f3eeea;
    display: flex;
}


.chat-container .control-chat input {
    flex-grow: 1;
    align-items: center;
    padding: 1em 0.5em;
}


.chat-container .control-chat button {
    margin-right: 2em;
    margin-left: 2em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
}



/* REUSED */

.user {
    display: flex;
    align-items: center;
    padding: 1em;
}



.username-text {
    font-weight: bold;
    font-size: 1.2em;
}


.small-text {
    font-size: 0.8em;
}


.vsmall-text {
    font-size: 0.7em;
}


.pic {
        margin-right: 1em;
        width: 3em;
        border-radius: 50%;
        display: block;
}


button {
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}