/* GENERALE */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body {
    font-family: 'Roboto', sans-serif;
    background: rgb(30,172,131);
    background: linear-gradient(180deg, rgba(30,172,131,1) 15%, rgba(198,195,204,1) 15%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}


.main-container {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.side-container {
    background-color: white;
}


.header-chat {
    height: 10%;
    width: 100%;
    background-color: lightgray;
}

.control-chat {
    height: 10%;
    width: 100%;
    background-color: lightgray;
}

.header-side {
    height: 10%;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    
}

.notification-side {
    background-color: lightblue;
    height: 10%;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;

}


.main-chat {

    height: 80%;
    width: 100%;

    padding: 2em;
    background-image: url('../img/mine.jpg');
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;

    overflow-y: auto;
}

.main-chat .message {
    margin-bottom: 2em;
    padding: 1.5em;
    max-width: 60%;
    text-align: right;
    border-radius: 10px;
    position: relative;
}

.main-chat .sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.main-chat .received {
    background-color: white;

}

.bold-text {
    font-weight: bold;
}



/* .main-chat .message .date {
    position:absolute;
    right: 0.5em;
    bottom: 0.5em
} */

.user {
    display: flex;
    align-items: center;
}

.header-side img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.header-chat .user img {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.utext {
    font-size: 0.9em;
    font-weight: bold;
}

.lastaccess {
    padding-top: 0.3em;
    font-size: 0.7em;
    color: gray;
}

.button-box {
    display: flex;
}

.button-box i {
    color: gray;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

button {
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}



.circle {
    background-color: white;
    width: 3em;
    height: 3em;
    line-height: 3em;
    border-radius: 50%;
    text-align: center;
    color: lightblue;
}

.chat-side .search-box {
    padding: 1em;
}

.chat-side .search-box .search-container {
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 0.5em;
}

.chat-side .search-container input {
    padding: 0.5em 0.5em;
    border: none;
    outline: none;
    flex-grow: 1;
}


.control-chat {
    padding: 0.5em 0.5em;
    background-color: #f3eeea;
    display: flex;
}

.control-chat input {
    flex-grow: 1;
    align-items: center;

}

.control-chat button {
    margin-right: 2em;
    margin-left: 2em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    align-items: center;

}


.chat-list {
    flex-grow: 1;
    overflow-y: auto;
}

.chat-list {
    list-style: none;
}

.contact {
    padding: 0.5rem 1rem;
    background-color: white;
    cursor: pointer;
    display: flex;
}

.contact .text-box {
    width: 100%;
}

.contact .text-box .name {
    font-weight: bold;
}

.contact .text-box .text {
    color: lightgray;
    padding-top: 0.5em;
    font-size: 0.8em;
}

.pic {
        margin-right: 1em;
        width: 3em;
        border-radius: 50%;
        display: block;
}