<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>

        <!-- Importo Bootstrap -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css" integrity="sha512-JQksK36WdRekVrvdxNyV3B0Q1huqbTkIQNbz1dlcFVgNynEMRl0F8OSqOGdVppLUDIvsOejhr/W5L3G/b3J+8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />        
    
        <!-- Importo Google Font e Roboto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
        
        <!-- Collego FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- Collego il file css -->
        <link rel="stylesheet" href="css/style.css">

        <!-- Importo Vue.js -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body id="app">
        <div class="main-container mt-4">
            <div class="side-container col-4">
                <div class="header-side">
                    <div class="user">
                        <img src="img/avatar_2.jpg" alt="User">
                        <span class="utext">Paolo</span>
                    </div>
                    <div class="button-box">
                        <button><i class="fa-solid fa-circle-notch fa-xl"></i></button>
                        <button><i class="fa-solid fa-message fa-xl"></i></button>
                        <button><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></button>
                    </div>
                </div>
                <div class="notification-side d-flex align-items-center">
                    <div class="circle">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notification-box d-flex flex-column justify-content-center ps-2">
                        <p class="bold-text pb-1">Ricevi notifiche di nuovi messaggi</p>
                        <p>
                            <a href="#">Attiva notifiche desktop</a>
                        </p>
                    </div>
            
                </div>
                <div class="chat-side">
                    <div class="search-box">
                        <div class="search-container">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>


                    </div>
                    <div class="chat-list">
                        <ul>
                            <li class="contact" v-for="(contact,index) in contacts"
                            :class="{
                                'sent': (currenContact == index)
                            }"
                            @click = "ContactChose(index)">
                                <img class="pic" :src="'img/avatar' + contact.avatar + '.jpg'">
                                <div class="text-box">
                                    <p class="name">{{contact.name}}</p>
                                    <p class="text">Ultimo messaggio inviato</p>
                                    <span>{{contact.messages.date}}</span>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="chat-container col-8">
                <div class="header-chat d-flex">
                    <div class="user">
                        <img :src="'img/avatar' + contacts[currentContact].avatar + '.jpg'" alt="User">
                        <div>
                            <div class="utext">{{contacts[currentContact].name}}</div>
                            <div class="lastaccess">Ultimo accesso oggi alle 15:00</div>
                        </div>

                    </div>
                </div>
                <div class="main-chat p-4">
                    <div class="message" v-for="singleMessage in contacts[currentContact].messages"
                    :class="singleMessage.status">

                    <!-- Soluzione alternativa
                    :class="{
                        'sent': singleMessage.status == "sent"
                        'received': singleMessage.status == "received"
                    }" -->


                        <p>{{singleMessage.message}}</p>
                        <div class="date">
                            {{singleMessage.date}}
                        </div>
                    </div>

                    <div class="message received">
                        <p>Olè
                        </p>
                        <div class="date">
                            12:00
                        </div>
                    </div>
               



                </div>
                <div class="control-chat">
                    <button>
                        <i class="fa-regular fa-face-smile fa-xl"></i>
                    </button>
                    <input type="text" placeholder="Scrivi un messaggio">
                    <button>
                        <i class="fa-solid fa-microphone fa-xl"></i>
                    </button>

                </div>

                
            </div>
    
        </div>

        
 
    </body>

    <!-- Collego il file JS -->
	<script src="js/scripts.js"></script>       


</html>